body{
    background-color: aqua;
}

.container{
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        margin-top:10%;
}

.container2{
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        margin-top:70px;
}


.item{
    width:10%;
    font-size: x-large;
    font-weight:bold;
    text-align:center;
    line-height:100px;
    background-color:#069fc5;




}